/* Created by: Nathan De Silva
* Created on: Feb 2024
* This file contains the CSS for index.html
*/


body  { 
  background-color: rgb(151 236 247);
}


h1 {
  background-color: rgb(255 160 0);
  color: hsl(147 50% 47%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #ff00ff;
  }
